0 11 * * * cd /home/dom/Projects/one-quote && /usr/bin/ruby main.rb
0 15 * * * cd /home/dom/Projects/one-quote && /usr/bin/ruby main.rb
0 18 * * * cd /home/dom/Projects/one-quote && /usr/bin/ruby main.rb

